<!DOCTYPE html>
<html>
  <head>
    <title>I offer no condolences to you using this</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>

    <p>Allow your browser to use your webcam, then click 'Capture!' to begin.</p>

    <div><video id="vid" width="320"></video></div>
    <div><img src="" id="yesss" /></div>
    <div><a href="#" id="capture">Capture!</a></div>

    <p>{{stuff}}<p>
    <p>Uses <a href="https://cdn.webrtc-experiment.com/gif-recorder.js">gif-recorder</a></p>
    <p>~ btw this code is not exactly ready for primetime yet ~</p>


    <script src="/js/vendor/RecordRTC.js"></script>
    <script src="/js/vendor/gif-recorder.min.js"></script>
    <script src="/js/index.js"></script>

  </body>
  
</html>
